{% extends "account_base.html" %}

{% block title %}
Conversate - Log In
{% endblock title %}

{% block content %}
{% for message in messages %}
<div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} mb-0
                                alert-dismissible alert-message fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
<!-- Error that will appear if the user's details are incorrect -->
{% if form.errors %}
    <div class="alert alert-danger alert-dismissible alert-message fade show mb-0" role="alert">
        The username or password you have entered is incorrect. Please try again.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

<h1>Log In</h1>
<form method="POST">
    {% csrf_token %}
    <!-- Username -->
    <div class="form-group">
        <label for="login-username">Username</label>
        <input type="text" class="form-control" id="login-username" autocomplete="username"
            name="login" maxlength="30" required>
    </div>
    <!-- Password -->
    <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" class="form-control" id="login-password"
            name="password" autocomplete="current-password" required>
    </div>
    <!-- Remember Me -->
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input clickable" id="remain-logged">
        <label class="form-check-label clickable" for="remain-logged" name="remember">Keep me logged in</label>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary btn-block">Log In</button>
</form>
<div>
    <p>Don't have an account? <a href="{% url 'account_signup' %}">Sign up here!</a></p>
</div>

{% endblock content %}