
/* --------------------------------------------------------GLOBAL--------------------------------------------------------- */

* {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

/* Gives the mouse cursor a pointer effect when hovering over the element */
.clickable {
    cursor: pointer;
}

/* Removes the blue colour and underline from default anchors */
.anchor-no-style,
.anchor-no-style:hover {
    text-decoration: none;
}

.button-no-style {
    background: none;
    border: none;
}

a,
h1,
h2,
h3 {
    color: #f75949;
}

.btn {
    background-color: #f75949;
    border: none;
    color: white;
}

a:hover {
    color: #FA9C52;
}

.btn:not(.disabled):hover {
    background-color: #FA9C52;
}

.btn.disabled:hover {
    color: white;
}

.center-to-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Adds a white line to separate an element to the right of it */
.line-separate {
    border-radius: 0;
    border-right: 1px solid white;
}

/* --------------------------------------------------------Login--------------------------------------------------------- */

#form-account {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-shell {
    width: 100%;
    min-height: 60%;
    background-color: #FFEFD4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}

#form-shell>form {
    width: 90%;
}

/* Removing the underline from the information icon when hovered over */
.info-hover:hover {
    text-decoration: none;
}

/* ------------------------------------------------------Navigation------------------------------------------------------ */

.navbar {
    background-color: #FA9C52;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 1fr;
}

.nav-icon {
    color: white;
    background-color: #FA7336;
    border: none;
    border-radius: 32px;
    width: 30px;
    padding: 4px;
    text-align: center;
}

.nav-icon:hover {
    color: white;
    background-color: #f75949;
}

/* ------------------------------------------------------Side Navigation------------------------------------------------------ */

.side-nav-btn,
.side-nav-btn:focus {
    color: white;
    background-color: #FA7336;
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

/* Adds space for icons in the side nav */
.list-group-item-action {
    display: grid;
    grid-template-columns: 32px 1fr auto;
    grid-template-rows: 1fr;
}

.side-nav-btn:not(.disabled):hover {
    background-color: #f75949;
    color: white;
    font-weight: bold;
}

.side-nav-btn.active {
    background-color: #FA9C52;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

/* Removing the extra thick border between collapsible navigation buttons */
#category-collapse, #poll-collapse {
    border-bottom: none;
}

#side-nav-categories, #side-nav-polls {
    border-radius: 0;
}

#side-nav-collapse {
    width: 90vw;
    height: 100%;
    position: fixed;
    left: -90vw;
    transition: left 0.6s ease-in-out;
    background-color: #FFEFD4;
    padding-left: 15px;
    padding-right: 15px;
}

#side-nav-collapse.expanded {
    left: 0;
}

/* ------------------------------------------------------Search Bar------------------------------------------------------ */

.search-bar {
    border-radius: 32px;
    width: 100%;
    background-color: #FA7336;
    color: white;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.search-bar i {
    padding-left: 10px;
}

#search-input,
#search-input::placeholder {
    margin-left: 8px;
    padding: 6px 0;
    border: none;
    outline: none;
    display: inline-block;
    min-width: 0;
    background-color: #FA7336;
    color: white;
}

.search-bar input[type=submit] {
    background: none;
    border: none;
    border-left: 1px solid white;
    padding: 4px 16px 4px 10px;
    color: white;
}

.search-bar input[type=submit]:hover {
    background-color: #f75949;
}

#search-filter {
    background: none;
    border: none;
    outline: none;
}

#search-hint {
    font-size: .875em;
}

/* ------------------------------------------------------Default Template------------------------------------------------------ */

#main-page {
    background-color: #FFEFD4;
}

#main-content {
    background-color: white;
    padding-top: 32px;
    /* The full height of the screen minus the height of the navbar */
    height: calc(100vh - 56px);
    overflow-y: auto;
    /* Forces the footer to the bottom of the page */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    position: relative;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Pagination */
.page-link {
    background-color: #FA7336;
    color: white;
}

.page-link:hover {
    background-color: #f75949;
    color: white;
    font-weight: bold;
}

.page-item.active>.page-link {
    background-color: #FA9C52;
    border-color: rgba(0, 0, 0, 0.25);
}

.pagination-gap {
    border: none;
    font-weight: bold;
    padding: 0.5rem;
}

/* ------------------------------------------------------Posts------------------------------------------------------ */

.post {
    margin: 32px 0;
    padding: 16px 0;
    background-color: #FFEFD4;
}

.category {
    background-color: #FA7336;
    color: white;
}

#post-footer {
    background-color: #FA7336;
    padding: 8px;
    color: white;
}

#post-footer button,
#post-footer a {
    background: none;
}

.post-image {
    max-width: 100%;
    max-height: 640px;
    margin-bottom: 1rem;
}

/* ------------------------------------------------------Post Form------------------------------------------------------ */

.form-button {
    width: 128px;
}

/* Fixing the summernote text editor size */
#id_body_iframe {
    width: 100%;
}

#summernote-content {
    position: relative;
}

#summernote-feedback {
    border: none;
    z-index: -1;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#tag-input,
#answer-input {
    display: grid;
    grid-template-columns: 1fr auto;
}

.tag-list-item {
    display: inline-block;
    background-color: #FFEFD4;
}

#preview {
    height: auto;
    min-height: 245px;
}

#preview-image {
    max-width: 100%;
    max-height: 500px;
}

/* ------------------------------------------------------Polls------------------------------------------------------ */

.progress {
    height: 24px;
}

.progress-bar {
    transition: width .8s ease-in-out;
}

.progress.answer-chosen {
    border: 2px solid #cbcdcf;
    height: 28px;
}

.answer-chosen>.progress-bar {
    font-weight: bold;
}

/* ------------------------------------------------------Account Settings------------------------------------------------------ */

.account-setting {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
}

.account-setting>em {
    line-height: 32px;
}