/* --------------------------------------------------------GLOBAL--------------------------------------------------------- */

/* Gives the mouse cursor a pointer effect when hovering over the element */
.clickable {
    cursor: pointer;
}

/* Removes the blue colour and underline from default anchors */
.anchor-no-style,
.anchor-no-style:hover {
    color: inherit;
    text-decoration: none;
}

/* --------------------------------------------------------Login--------------------------------------------------------- */

#form-account {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-shell {
    width: 100%;
    min-height: 60%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}

#form-shell>form {
    width: 90%;
}

/* Removing the underline from the information icon when hovered over */
.info-hover:hover {
    text-decoration: none;
}

/* ------------------------------------------------------Navigation------------------------------------------------------ */

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    border: 1px solid black;
    border-radius: 32px;
    padding: 2px 8px;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

.search-bar>input {
    margin-left: 8px;
    border: none;
    outline: none;
    display: inline-block;
    min-width: none;
}

.nav-icon {
    color: black;
    background-color: white;
    border-radius: 32px;
    width: 30px;
    padding: 4px;
    text-align: center;
}

/* ------------------------------------------------------Default Template------------------------------------------------------ */

#main-page {
    background-color: lightgray;
    /* Forcing the main section to reach the bottom of the page */
    display: grid;
    grid-template-columns: 1fr;
    /* Rows: Navbar Section Footer */
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

#main-content {
    background-color: white;
    height: 100%;
    padding-top: 32px;
}

/* ------------------------------------------------------Posts------------------------------------------------------ */



/* ------------------------------------------------------Post Form------------------------------------------------------ */

.form-button {
    width: 128px;
}