{% extends "base.html" %}

{% block title %}
Browse Categories - Conversate
{% endblock title %}

{% block content %}

<h1>Categories ({{ num_categories }}):</h1>
<hr>
<div class="row">
    {% for category in item_list %}
        <div class="col-12 col-sm-6 col-xl-4 mb-3">
            <a class="btn btn-block d-flex align-items-center justify-content-between"
                href="{% url 'categories' category.slug %}">
                <span><i class="fa-solid {{ category.icon }} mr-2"></i>{{ category.name }}</span>
                <span>{{ category.number_of_posts }}</span>
            </a>
        </div>
    {% endfor %}
</div>
<!-- Pagination -->
{% if item_list.has_other_pages %}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if item_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ item_list.previous_page_number }}"
                    aria-label="Go to the previous page">&lt;</a>
        {% else %}
            <li class="page-item disabled">
                <div class="page-link">&lt;</div>
        {% endif %}
        </li>

        {% for page in page_range %}
        {% if forloop.last and end_gap %}
        <li class="page-item disabled">
            <span class="page-link pagination-gap d-none d-sm-block b-none">...</span>
        </li>
        {% endif %}
        {% if page == item_list.number %}
        <li class="page-item active">
            {% else %}
        <li class="page-item d-none d-sm-block">
            {% endif %}
            <a class="page-link" href="?page={{ page }}" aria-label="Go to page {{ page }}">{{ page }}</a>
        </li>
        {% if forloop.first and start_gap %}
        <li class="page-item disabled">
            <span class="page-link pagination-gap d-none d-sm-block b-none">...</span>
        </li>
        {% endif %}
        {% endfor %}

        {% if item_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ item_list.next_page_number }}"
                    aria-label="Go to the next page">&gt;</a>
        {% else %}
            <li class="page-item disabled">
                <div class="page-link">&gt;</div>
        {% endif %}
        </li>
    </ul>
</nav>
{% endif %}

{% endblock content %}