{% extends "base.html" %}

{% block title %}
Edit Post - Conversate
{% endblock title %}

{% block content %}

<h1>Edit your Post:</h1>
<hr>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title"
            maxlength="100" value="{{ post.title }}" required>
    </div>
    <div class="form-group">
        <label for="content">Text</label>
        <textarea class="form-control" id="content" name="content" rows="6" required>{{ post.content }}</textarea>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select id="category" list="category" name="category" class="form-control" required>
            {% for category in category_list %}
                <option value="{{ category.name }}"{% if category == post.category %} selected{% endif %}>
                    {{ category.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn form-button btn-primary">Save</button>
    <a href="{% url 'view_post' post.slug %}" class="btn form-button btn-primary">Cancel</a>
</form>

{% endblock content %}