{% extends "base.html" %}
{% load static %}

{% block title %}
Edit Post - Conversate
{% endblock title %}

{% block content %}

<h1>Edit your Post:</h1>
<hr>
<form enctype="multipart/form-data" class="after-load create-form" method="POST">
    {% csrf_token %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-12 col-xl-6">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title"
                        maxlength="100" value="{{ post.title }}" required>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select id="category" list="category" name="category" class="form-control" required>
                        {% for category in category_list %}
                            <option value="{{ category.name }}" {% if category == post.category %} selected{% endif %}>
                                {{ category.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Summernote text editor for post body -->
                <div class="form-group" id="summernote-content">
                    {{ content_form }}
                    <input type="text" id="summernote-feedback">
                    <input type="hidden" id="previous-content" name="content-backup" value="{{ post.content }}">
                </div>
                <!-- Tags -->
                <div class="form-group">
                    <input type="hidden" name="tags" id="tags" value="{{ post.tags }}">
                    <label for="tag-input-text" class="mb-0">Tags</label>
                    <div id="tags-list" class="mt-2">
                        {% for tag in post.tag_list %}
                        <div class="tag-list-item mr-2 mb-2">
                            <div class="d-flex align-items-center justify-space-between p-1">
                                <em class="tag-name">#{{ tag }}</em>
                                <button type="button" class="close ml-2 mr-1" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="container-fluid px-0">
                        <div class="row">
                            <div class="col col-md-8 col-lg-6 col-xl-12" id="tag-input">
                                <input type="text" class="form-control" id="tag-input-text" maxlength="30">
                                <button type="button" class="btn ml-2 disabled" id="add-tag" disabled>Add</button>
                                <div id="tag-feedback" class="invalid-feedback d-block"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Poll -->
                <div class="form-group">
                    <label for="poll-group">Poll</label>
                    <div id="poll-group" class="card mb-3">
                        <div class="card-body">
                            {% if post.poll %}
                                {% with post.poll as poll %}
                                <div class="d-flex justify-content-between mb-2">
                                    <h5 class="card-title mb-0">{{ poll.title }}</h5>
                                    <button type="button" class="button-no-style px-1 trigger-delete-poll"
                                        data-url="{% url 'delete_poll' post.poll.id request.path %}">
                                        <h5 class="fa-solid fa-trash mb-0 text-muted"></h5>
                                    </button>
                                </div>
                                <ul class="list-group">
                                    {% for answer in poll.answers.all %}
                                        <li class="list-group-item">{{ answer.body }}</li>
                                    {% endfor %}
                                </ul>
                                {% endwith %}
                            {% else %}
                                <div class="form-group form-check mb-0">
                                    <input type="checkbox" class="form-check-input" id="has-poll" name="has-poll" data-toggle="collapse"
                                        data-target="#poll-collapse" aria-expanded="false" aria-controls="poll-collapse">
                                    <label class="form-check-label" for="has-poll">Include a poll in this post</label>
                                </div>
                                <div class="collapse" id="poll-collapse">
                                    <!-- Poll Title -->
                                    <div class="form-group mt-2">
                                        <label for="poll-title">Title</label>
                                        <input type="text" class="form-control" name="poll-title" id="poll-title" maxlength="200">
                                    </div>
                                    <!-- Poll Answers -->
                                    <div class="form-group">
                                        <label for="answers">Answers</label>
                                        <ul id="answer-list" class="list-group"></ul>
                                        <div id="answer-input" class="mt-2">
                                            <input type="text" class="form-control" id="answers" maxlength="100">
                                            <button type="button" class="btn ml-2 disabled" id="add-answer" disabled>Add</button>
                                        </div>
                                        <div id="answer-feedback" class="invalid-feedback">You have already entered this answer.</div>
                                    </div>
                                    <!-- Poll Due Date -->
                                    <div class="form-group">
                                        <label for="due-date">Due by</label>
                                        <input type="date" class="form-control" name="due-date" id="due-date">
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% if post.poll %}
                            <div class="card-footer text-muted">
                                {% with post.poll.due_date|date:"d/m/y" as end_date %}
                                {% if post.poll.has_expired %}Poll ended {{ end_date }}
                                {% else %}Poll ends on {{ end_date }}
                                {% endif %}
                                {% endwith %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Upload image option -->
            <div class="col-12 col-xl-6">
                <div class="form-group">
                    <label for="post-image">Image</label>
                    <div class="custom-file clickable">
                        <input type="file" class="custom-file-input clickable" id="post-image" name="post-image"
                            accept="image/png, image/jpeg, image/webp">
                        <span class="custom-file-label clickable">Choose file...</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="preview">Preview</label>
                    <div id="preview" class="form-control center-to-container">
                        <img id="preview-image"{% if not post.image %} class="d-none"{% endif %} src="{{ post.image.url }}" alt="Your selected image">
                        <span id="preview-empty"{% if post.image %} class="d-none"{% endif %}>No file chosen.</span>
                        {% if post.image %}
                            <button type="button" id="delete-image" class="btn trigger-delete-image"
                                aria-label="Remove your image." data-url="{% url 'clear_image' post.id %}">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="image-position">Image Position</label>
                    </div>
                    <select class="custom-select" id="image-position" name="image-position">
                        <option value="0" selected>Top of post</option>
                        <option value="-1">Bottom of post</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex d-md-block justify-content-center mt-2">
        <button type="submit" class="btn form-button btn-primary mr-1 mr-sm-2 mr-md-0">Save</button>
        <a href="{% url 'view_post' post.slug %}" class="btn form-button btn-primary ml-1 ml-sm-2 ml-md-0">Cancel</a>
    </div>

    <!-- Loading icon which blocks the form until the summernote editor has loaded -->
    <div class="pre-load">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</form>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/polls.js' %}"></script>
    <script src="{% static 'js/posting.js' %}"></script>
    <script src="{% static 'js/forms.js' %}"></script>
{% endblock scripts %}