{% extends "base.html" %}
{% load static %}

{% block title %}
Account Settings - Conversate
{% endblock title %}

{% block content %}

<h1>Account Settings:</h1>
<hr>
<div class="row">
    <div class="col col-lg-8">
        <form method="POST">
            {% csrf_token %}
            <!-- Username -->
            <div class="form-group">
                <label for="username">Username</label>
                {{ user_form.username }}
            </div>
            <!-- Email -->
            <div class="form-group">
                <label for="username">Email</label>
                <!-- <input type="email" class="form-control" id="email" name="email" value="{{ request.user.email }}"> -->
                {{ user_form.email }}
            </div>
            <!-- Password change -->
            <div class="form-group">
                <label for="username">Password</label>
                <div class="card">
                    <div class="card-body">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input check-collapse" name="change-password" id="change-password">
                            <label class="form-check-label" for="change-password">Change your password</label>
                        </div>
                        <div class="collapse check-collapse-content">
                            <div class="form-group mt-3">
                                <label for="password1">Password</label>
                                <input type="password" class="form-control" id="password1" name="new_password1">
                            </div>
                            <div class="form-group">
                                <label for="password2">Repeat Password</label>
                                <input type="password" class="form-control" id="password2" name="new_password2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex d-md-block justify-content-center mt-2">
                <button type="submit" class="btn form-button mr-1 mr-sm-2 mr-md-0">Save</button>
                <a href="{% url 'account_settings' %}" class="btn form-button ml-1 ml-sm-2 ml-md-0">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% if user_form.errors %}
    <ul>
        {% for key,value in user_form.errors.items %} 
            <li>{{ key|escape }} : {{ value|escape }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% if password_form.errors %}
    <ul>
        {% for key,value in password_form.errors.items %} 
            <li>{{ key|escape }} : {{ value|escape }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/accountSettings.js' %}"></script>
{% endblock scripts %}