{% extends "base.html" %}

{% block title %}
{{ heading }} - Conversate
{% endblock title %}

{% block content %}

<h1>{{ heading }}:</h1>
<hr>
{% for post in post_list %}
    <div class="row post">
        <div class="post-title col-12">
            <a href="#" class="btn btn-sm tag align-middle">{{ post.tag }}</a>
            <a href="{% url 'view_post' post.slug %}" class="anchor-no-style">
                <h2 class="d-inline-block align-middle">{{ post.title }}</h2>
            </a>
        </div>
        <div class="col-12">
            {% if user in post.likes.all %}
                <i class="fa-solid fa-thumbs-up ml-2"></i>
            {% else %}
                <i class="fa-regular fa-thumbs-up ml-2"></i>
            {% endif %}
            {{ post.number_of_likes }}
            <i class="fa-regular fa-comment ml-2"></i>
            {{ post.number_of_comments }}
            <p class="d-inline ml-4">Posted on {{ post.date_formatted }} by {{ post.posted_by }}</p>
        </div>
        <div class="col-12">
            <p class="mt-2">{{ post.content }}</p>
            <a href="{% url 'view_post' post.slug %}">Read More...</a>
        </div>
    </div>
{% endfor %}

<!-- Pagination -->
{% if post_list.has_other_pages %}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if post_list.has_previous %}
            <li class="page-item">
                {% if selected_tab == 'Search' %}
                    <a class="page-link" href="{{ search_url }}&page={{ post_list.previous_page_number }}">Previous</a>
                {% else %}
                    <a class="page-link" href="?page={{ post_list.previous_page_number }}">Previous</a>
                {% endif %}
        {% else %}
            <li class="page-item disabled">
                <div class="page-link">Previous</div>
        {% endif %}
        </li>

        {% for page in paginator.page_range %}
            {% if page == post_list.number %}
            <li class="page-item active">
            {% else %}
            <li class="page-item">
            {% endif %}
                {% if selected_tab == 'Search' %}
                    <a class="page-link" href="{{ search_url }}&page={{ page }}">{{ page }}</a>
                {% else %}
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                {% endif %}
            </li>
        {% endfor %}

        {% if post_list.has_next %}
            <li class="page-item">
                {% if selected_tab == 'Search' %}
                    <a class="page-link" href="{{ search_url }}&page={{ post_list.next_page_number }}">Next</a>
                {% else %}
                    <a class="page-link" href="?page={{ post_list.next_page_number }}">Next</a>
                {% endif %}
        {% else %}
            <li class="page-item disabled">
                <div class="page-link">Next</div>
        {% endif %}
        </li>
    </ul>
</nav>
{% endif %}

{% endblock content %}