{% extends "base.html" %}

{% block title %}
What's New - Conversate
{% endblock title %}

{% block content %}

<h1>What's New:</h1>
<hr>
{% for post in post_list %}
    <div class="row post">
        <div class="post-title col-12">
            <a href="{% url 'view_post' post.slug %}" class="anchor-no-style">
                <h2>{{ post.title }}</h2>
            </a>
        </div>
        <div class="col-12">
            <a href="#" class="btn btn-sm btn-dark">{{ post.tag }}</a>
            <i class="fa-regular fa-thumbs-up"></i>
            {{ post.number_of_likes }}
        </div>
        <div class="col-12">
            <p>Posted on {{ post.posted_on }} by {{ post.posted_by }}</p>
            <p>{{ post.content }}</p>
            <a href="{% url 'view_post' post.slug %}">Read More...</a>
        </div>
    </div>
    <hr>
{% endfor %}

<!-- Pagination -->
{% if post_list.has_other_pages %}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if post_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ post_list.previous_page_number }}">Previous</a>
        {% else %}
            <li class="page-item disabled">
                <div class="page-link">Previous</div>
        {% endif %}
        </li>

        {% for page in paginator.page_range %}
            {% if page == post_list.number %}
            <li class="page-item active">
            {% else %}
            <li class="page-item">
            {% endif %}
                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if post_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ post_list.next_page_number }}">Next</a>
        {% else %}
            <li class="page-item disabled">
                <div class="page-link">Next</div>
        {% endif %}
        </li>
    </ul>
</nav>
{% endif %}

{% endblock content %}