{% extends "base.html" %}

{% block title %}
New Post - Conversate
{% endblock title %}

{% block content %}

<h1>Create a New Post:</h1>
<hr>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" maxlength="200" required>
    </div>
    <div class="form-group">
        <label for="content">Text</label>
        <textarea class="form-control" id="content" name="content" rows="6" required></textarea>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select id="category" list="category" name="category" class="form-control" required>
            {% for category in category_list %}
                <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn form-button btn-primary">Post</button>
    <button type="reset" class="btn form-button btn-primary">Clear</button>
</form>

{% endblock content %}