{% extends "base.html" %}
{% load template_tags %}

{% block title %}
{{ heading }} - Conversate
{% endblock title %}

{% block content %}

<h1>{{ heading }}:</h1>
<hr>
{% if item_list %}
    {% for poll in item_list %}
        <div class="card mb-5">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-2">
                    <h5 class="card-title mb-0">{{ poll.title }}</h5>
                    {% if poll.asked_by == user %}
                        <button class="button-no-style px-1 trigger-delete-poll" type="button"
                            data-url="{% url 'delete_poll' poll.id request.path %}">
                            <h5 class="fa-solid fa-trash mb-0 text-muted"></h5>
                        </button>
                    {% endif %}
                </div>
                <div class="card-subtitle mb-4">Asked by <em>{{ poll.asked_by }}</em>
                    {% if poll.post %}as part of post 
                        <a href="{% url 'view_post' poll.post.slug %}">{{ poll.post.title }}</a>
                    {% endif %}
                </div>
                {% poll_status poll.id request.user.id as p_status %}
                {% if p_status == 0 and poll.asked_by != user %}
                    <!-- Voting buttons -->
                    <form method="POST" class="mt-2" action="{% url 'vote_poll' poll.id request.path %}">
                        {% csrf_token %}
                        <ul class="list-group">
                            {% for answer in poll.answers.all %}
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="poll-vote" id="answer-{{ answer.position }}"
                                            value="{{ answer.position }}" required>
                                        <label class="form-check-label" for="answer-{{ answer.position }}">
                                            {{ answer.body }}
                                        </label>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="mt-3">
                            <input type="submit" class="btn" value="Vote">
                            <input type="reset" class="btn" value="Clear">
                        </div>
                    </form>
                {% else %}
                    <h6 class="card-subtitle text-muted mb-3">
                        {% with poll.number_of_votes as vote_num %}
                            <span>{{ vote_num }} vote{% if vote_num != 1 %}s{% endif %}</span>
                        {% endwith %}
                    </h6>
                    <!-- Results -->
                    {% for answer in poll.answers.all %}
                        <div class="d-flex justify-content-between">
                            <span>{{ answer.body }}</span>
                            {% with answer.number_of_votes as vote_num %}
                                <span>{{ vote_num }} vote{% if vote_num != 1 %}s{% endif %}</span>
                            {% endwith %}
                        </div>
                        <div class="progress mb-3{% if p_status == answer.position %} answer-chosen{% endif %}">
                            {% with answer.vote_percentage as votes %}
                                <div class="progress-bar poll-result" role="progressbar" style="width: 0%;" aria-valuenow="{{ votes }}"
                                    aria-valuemin="0" aria-valuemax="100" data-animation="on">{{ votes }}%</div>
                            {% endwith %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="card-footer text-muted">
                {% with poll.due_date|date:"d/m/y" as end_date %}
                {% if poll.has_expired %}Poll ended {{ end_date }}
                {% else %}Poll ends on {{ end_date }}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    {% endfor %}

    <!-- Pagination -->
    {% if item_list.has_other_pages %}

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if item_list.has_previous %}
                <li class="page-item">
                    {% if selected_tab == 'Search' %}
                        <a class="page-link" href="{{ search_url }}&page={{ item_list.previous_page_number }}">&lt;</a>
                    {% else %}
                        <a class="page-link" href="?page={{ item_list.previous_page_number }}">&lt;</a>
                    {% endif %}
            {% else %}
                <li class="page-item disabled">
                    <div class="page-link">&lt;</div>
            {% endif %}
            </li>

            {% for page in page_range %}
                {% if forloop.last and end_gap %}
                    <li class="page-item disabled">
                        <span class="page-link pagination-gap b-none">...</span>
                    </li>
                {% endif %}
                {% if page == item_list.number %}
                    <li class="page-item active">
                {% else %}
                    <li class="page-item{% if not forloop.first and not forloop.last %} d-none d-sm-block{% endif %}">
                {% endif %}
                    {% if selected_tab == 'Search' %}
                        <a class="page-link" href="{{ search_url }}&page={{ page }}">{{ page }}</a>
                    {% else %}
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    {% endif %}
                </li>
                {% if forloop.first and start_gap %}
                    <li class="page-item disabled">
                        <span class="page-link pagination-gap b-none">...</span>
                    </li>
                {% endif %}
            {% endfor %}

            {% if item_list.has_next %}
                <li class="page-item">
                    {% if selected_tab == 'Search' %}
                        <a class="page-link" href="{{ search_url }}&page={{ item_list.next_page_number }}">&gt;</a>
                    {% else %}
                        <a class="page-link" href="?page={{ item_list.next_page_number }}">&gt;</a>
                    {% endif %}
            {% else %}
                <li class="page-item disabled">
                    <div class="page-link">&gt;</div>
            {% endif %}
            </li>
        </ul>
    </nav>
    {% endif %}
{% else %}
    <!-- No results notification -->
    <div id="no-content" class="center-to-container flex-column text-center">
        <h2 class="mb-3">No Results Found!</h2>

        {% if 'Open' in selected_tab %}
            <p class="mb-2">There's no polls here for you to vote in.</p>
        {% else %}
            <p class="mb-2">There are no polls to be found here!</p>
        {% endif %}
        <a href="{% url 'new_poll' %}">Create your own poll</a>
    </div>
{% endif %}

{% endblock content %}