{% extends "base.html" %}
{% load static %}
{% load template_tags %}

{% block title %}
    {{ post.title }} - Conversate
{% endblock %}

{% block content %}
    <h1 class="word-break">{{ post.title }}</h1>
    {% if post.category.slug != 'none' %}
        <a class="btn btn-sm category" href="{% url 'categories' post.category.slug %}">{{ post.category }}</a>
    {% endif %}
    <span>{{ post.posted_by }}
        {% if post.edited %}
            <em>(Edited)</em>
        {% endif %}
    </span>
    <hr>
    {% if post.image and post.image_position == 0 %}
        <img src="{{ post.image.url }}" alt="Image for the post" class="post-image">
    {% endif %}
    <div id="post-content" class="mb-4 word-break">{{ post.content|safe }}</div>
    {% if post.image and post.image_position == -1 %}
        <img src="{{ post.image.url }}" alt="Image for the post" class="post-image">
    {% endif %}
    <!-- Poll -->
    {% if post.poll %}
        {% poll_status post.poll.id request.user.id as p_status %}
        <div class="card mb-4">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-2">
                    <div class="card-title text-h5 mb-0 word-break">{{ post.poll.title }}</div>
                    {% if post.poll.asked_by == user %}
                        <button class="button-no-style px-1 trigger-delete-poll" type="button"
                            data-url="{% url 'delete_poll' post.poll.id request.path %}"
                            aria-label="Delete this poll">
                            <i class="fa-solid fa-trash mb-0 text-muted text-h5"></i>
                        </button>
                    {% endif %}
                </div>
                {% if p_status != 0 or post.posted_by == user %}
                    <div class="card-subtitle text-muted mb-3">
                        {% with post.poll.number_of_votes as vote_num %}
                            <span>{{ vote_num }} vote{% if vote_num != 1 %}s{% endif %}</span>
                        {% endwith %}
                    </div>
                    {% for answer in post.poll.answers.all %}
                        <div class="d-flex justify-content-between">
                            <span>{{ answer.body }}</span>
                            {% with answer.number_of_votes as vote_num %}
                                <span>{{ vote_num }} vote{% if vote_num != 1 %}s{% endif %}</span>
                            {% endwith %}
                        </div>
                        <div class="progress mb-3{% if p_status == answer.position %} answer-chosen{% endif %}">
                            {% with answer.vote_percentage as votes %}
                            <div class="progress-bar poll-result"
                                role="progressbar" style="width: 0%;" aria-valuenow="{{ votes }}"
                                aria-valuemin="0" aria-valuemax="100" data-animation="on"
                                aria-label="Answer {{ answer.body }}: {{ votes }}%">{{ votes }}%</div>
                            {% endwith %}
                        </div>
                    {% endfor %}
                {% elif not user.is_authenticated %}
                    <ul class="list-group">
                        {% for answer in post.poll.answers.all %}
                            <li class="list-group-item">{{ answer.body }}</li>
                        {% endfor %}
                    </ul>
                    <div class="mt-3">
                        Please <a href="{% url 'account_login' %}" aria-label="Go to the login page">Log in</a> to vote.
                    </div>
                {% else %}
                    <form method="POST" class="mt-2" action="{% url 'vote_poll' post.poll.id request.path %}">
                        {% csrf_token %}
                        <ul class="list-group">
                            {% for answer in post.poll.answers.all %}
                                <li class="list-group-item answer-container clickable">
                                    <div class="form-check">
                                        <input class="form-check-input clickable" type="radio" name="poll-vote" id="answer-{{ answer.position }}"
                                            value="{{ answer.position }}" required>
                                        <label class="form-check-label clickable word-break" for="answer-{{ answer.position }}">
                                            {{ answer.body }}
                                        </label>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="mt-3">
                            <input type="submit" class="btn" value="Vote">
                            <input type="reset" class="btn" value="Clear">
                        </div>
                    </form>
                {% endif %}
            </div>
            <div class="card-footer card-faded">
                <span class="poll-date-display">
                    {% with post.poll.due_date|date:"d/m/y" as end_date %}
                    {% if post.poll.has_expired %}Poll ended {{ end_date }}
                    {% else %}Poll ends on {{ end_date }}
                    {% endif %}
                    {% endwith %}
                    {% if post.poll.asked_by == user %}
                        <button class="button-no-style ml-1 btn-edit-poll"
                            aria-label="Edit the poll's due date">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                    {% endif %}
                </span>
                <!-- Form to edit due date -->
                {% if post.poll.asked_by == user %}
                    <form action="{% url 'edit_poll' post.poll.id request.path %}" method="POST" class="poll-edit-form d-none">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-auto mb-1">
                                <label class="sr-only" for="new-date">New Due Date</label>
                                <input type="date" class="form-control poll-date-input" id="new-date" name="new-date" required>
                            </div>
                            <div class="col-auto">
                                <input type="submit" class="btn" value="Save">
                                <button type="button" class="btn poll-edit-cancel">Cancel</button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <!-- Tags -->
    {% if post.tags %}
        <div id="post-tags">
            {% for tag in post.tag_list %}
                <a class="tag-list-item mr-2 mb-2 p-1 anchor-no-style" href="{% url 'search_tag' tag %}">
                    <em>#{{ tag }}</em>
                </a>
            {% endfor %}
        </div>
    {% endif %}
    <!-- Post footer -->
    <div class="post-footer d-flex flex-md-row justify-content-md-between mt-2 mb-5
        {% if post.posted_by == user %} flex-column{% else %} flex-row post-not-owned justify-content-between{% endif %}">
        <div class="post-footer-buttons">
            {% if user.is_authenticated and post.posted_by != request.user %}
            <form class="d-inline" method="POST" action="{% url 'like_post' post.slug %}">
                {% csrf_token %}
                {% if user in post.likes.all %}
                    <button type="submit" class="btn post-footer-item py-0 line-separate" aria-label="Unlike this post">
                        <i class="fa-solid fa-thumbs-up"></i>
                {% else %}
                    <button type="submit" class="btn post-footer-item py-0 line-separate" aria-label="Like this post">
                        <i class="fa-regular fa-thumbs-up"></i>
                {% endif %}
                    {{ post.number_of_likes }}
                </button>
            </form>
            {% else %}
                <span class="post-footer-item footer-blocked py-0 line-separate" aria-disabled="true">
                    <i class="fa-regular fa-thumbs-up"></i>
                    {{ post.number_of_likes }}
                </span>
            {% endif %}
            <a class="btn post-footer-item py-0{% if user == post.posted_by %} line-separate{% endif %}"
                {% if user.is_authenticated %} href="#post-comment" aria-label="Post a comment"
                {% else %} href="#comments" aria-label="View {{ post.number_of_comments }} comments"{% endif %}>
                
                <i class="fa-regular fa-comment"></i>
                <span aria-hidden="true">{{ post.number_of_comments }}</span>
            </a>
            <!-- Buttons specifically for user-owned posts -->
            {% if user == post.posted_by %}
                <a class="btn post-footer-item py-0 line-separate" href="{% url 'edit_post' post.id %}" aria-label="Edit this post">
                    <i class="fa-solid fa-pen"></i>
                    <span class="d-none d-md-inline">Edit</span>
                </a>
                <button class="btn post-footer-item py-0 trigger-delete-post" aria-label="Delete this post" data-url="{% url 'delete_post' post.slug %}">
                    <i class="fa-solid fa-trash"></i>
                    <span class="d-none d-md-inline">Delete</span>
                </button>
            {% endif %}
        </div>
        <div class="align-middle text-right{% if user == post.posted_by %} mt-2{% endif %} mt-md-0">
            <strong>{{ post.posted_on|date:"d/m/y G:i" }}</strong>
        </div>
    </div>
    <!-- Comment input when the user is logged in -->
    {% if user.is_authenticated %}
        <form method="POST" action="{% url 'send_comment' post.slug %}">
            {% csrf_token %}
            <label for="post-comment" class="mb-0 mb-sm-2">
                <span class="d-inline-block mb-0 mb-sm-2 text-h4">Leave a Comment</label>
            </label>
            <ul class="d-inline-block pl-4">
                <li>Commenting as <em>{{ user.username }}</em></li>
            </ul>
            <div class="form-group mb-1">
                <textarea class="form-control validate-text" name="content" id="post-comment" rows="3" required></textarea>
            </div>
            <input type="submit" class="btn" value="Comment"></input>
            <input type="reset" class="btn" value="Clear"></input>
        </form>
        <br>
    {% endif %}

    <!-- Comments section -->
    <div id="comments" class="accordion">
        {% if comments %}
            <h3 class="mt-4">Comments</h3>
            <hr>
            <div id="list-of-comments" class="comment-list after-load accordion">
                {% for comment in comments %}
                    {% if comment.reply_to %}
                    <div id="comment-{{ comment.id }}" data-timestamp="{{ comment.posted_on.timestamp }}"
                        data-reply-to="{{ comment.reply_to.id }}" class="comment reply ml-3 ml-sm-4 ml-lg-5 py-3 d-none">
                    {% else %}
                    <div id="comment-{{ comment.id }}" class="comment my-4 py-1">
                    {% endif %}
                        <!-- Comment content -->
                        <div class="comment-header">
                            <strong>{{ comment.posted_by }}</strong> -
                            <em>{{ comment.time_elapsed }}
                                {% if comment.edited %}
                                    (Edited)
                                {% endif %}
                            </em>
                        </div>
                        <div class="comment-body">
                            <p class="mb-1 comment-text word-break">{{ comment.content }}</p>

                            <!-- Menu buttons underneath the comment -->
                            <div class="post-footer comment-footer">
                                <div class="post-footer-buttons{% if user != comment.posted_by %} d-flex{% endif %} d-md-flex">
                                    {% if user.is_authenticated and user != comment.posted_by %}
                                        <form method="POST" class="d-inline" action="{% url 'like_comment' comment.id %}">
                                            {% csrf_token %}
                                            {% if user in comment.likes.all %}
                                            <button type="submit" class="btn post-footer-item btn-small py-0 line-separate">
                                                <i class="fa-solid fa-thumbs-up"></i>
                                            {% else %}
                                            <button type="submit" class="btn post-footer-item btn-small py-0 line-separate">
                                                <i class="fa-regular fa-thumbs-up"></i>
                                            {% endif %}
                                                {{ comment.number_of_likes }}
                                            </button>
                                        </form>
                                    {% else %}
                                        <span class="footer-blocked py-0{% if user.is_authenticated %} line-separate{% endif %}" aria-disabled="true">
                                            <i class="fa-regular fa-thumbs-up"></i>
                                            {{ comment.number_of_likes }}
                                        </span>
                                    {% endif %}
                                    {% if user.is_authenticated %}
                                        <button class="btn post-footer-item btn-small py-0 line-separate" type="button" data-toggle="collapse"
                                            data-target="#reply-toggle-{{ comment.id }}" aria-expanded="false" aria-controls="reply-toggle-{{ comment.id }}">
                                            <i class="fa-regular fa-comment"></i>
                                            <span class="d-none d-md-inline">Reply</span>
                                        </button>
                                        {% if user == comment.posted_by %}
                                            <button class="btn post-footer-item edit-comment py-0 line-separate" aria-label="Edit this comment">
                                                <i class="fa-solid fa-pen"></i>
                                                <span class="d-none d-md-inline">Edit</span>
                                            </button>
                                            <button class="btn post-footer-item py-0 trigger-delete-comment"
                                                aria-label="Delete this comment" data-url="{% url 'delete_comment' comment.id %}">
                                                <i class="fa-solid fa-trash"></i>
                                                <span class="d-none d-md-inline">Delete</span>
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Reply textarea dropdown -->
                            <form method="POST" action="{% url 'send_comment' post.slug %}" class="collapse reply-collapse"
                                id="reply-toggle-{{ comment.id }}" data-parent="#list-of-comments">
                                {% csrf_token %}

                                <!-- Hidden input to tell the view which comment is being replied to -->
                                {% if comment.reply_to %}
                                    <input type="hidden" name="reply" value="{{ comment.reply_to.id }}" aria-hidden="true">
                                {% else %}
                                    <input type="hidden" name="reply" value="{{ comment.id }}" aria-hidden="true">
                                {% endif %}

                                <div class="form-group mb-1">
                                    {% if comment.reply_to and not comment.posted_by == comment.reply_to.posted_by and not comment.posted_by == user %}
                                        <textarea class="form-control reply-to-reply" data-reply-user="{{ comment.posted_by.username }}"
                                            name="content" rows="3" required></textarea>
                                    {% else %}
                                        <textarea class="form-control validate-text" name="content" rows="3" required></textarea>
                                    {% endif %}
                                </div>
                                <input type="submit" class="btn" value="Reply"></input>
                                <input type="reset" class="btn" value="Cancel" data-toggle="collapse"
                                    data-target="#reply-toggle-{{ comment.id }}" aria-expanded="false" aria-controls="reply-toggle-{{ comment.id }}"></input>
                            </form>
                            <!-- /.reply -->
                        </div>

                        <!-- Text area to replace comment body when editing -->
                        <form method="POST" action="{% url 'edit_comment' comment.id %}" class="comment-edit-field mb-3 d-none">
                            {% csrf_token %}
                            <div class="form-group mb-1">
                                <textarea class="form-control validate-text" name="content" rows="3" required></textarea>
                            </div>
                            <input type="submit" class="btn" value="Save"></input>
                            <button class="btn cancel-edit" type="button">Cancel</button>
                        </form>

                        <!-- Replies section -->
                        {% if comment.number_of_replies %}
                            <a href="#reply-section-{{ comment.id }}" class="reply-toggle d-inline-block mt-2 font-italic"
                                type="button" data-toggle="collapse" aria-expanded="false"
                                data-control="reply-section-{{ comment.id }}">
                                {% if comment.number_of_replies == 1 %}
                                    View 1 Reply
                                {% else %}
                                    View {{ comment.number_of_replies }} Replies
                                {% endif %}
                            </a>
                            <div id="reply-section-{{ comment.id }}" class="replies collapse" data-parent="#comments"></div>
                        {% endif %}
                    </div>
                    {% if not comment.reply_to %}
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="pre-load">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/comments.js' %}"></script>
    <script src="{% static 'js/polls.js' %}"></script>
{% endblock scripts %}