{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ post.title }} - Conversate
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <a class="btn btn-large btn-dark" href="#">{{ post.tag }}</a>
    <span>{{ post.posted_by }}</span>
    <br><br>
    <p>{{ post.content }}</p>
    <hr>
    <div class="row">
        <div class="col-3 col-md-2 px-1 px-md-2 px-lg-4">
            {% if user.is_authenticated %}
                <form class="d-inline" method="POST" action="{% url 'like_post' post.slug %}">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" class="btn btn-dark btn-block" aria-label="Unlike this post">
                        <i class="fa-solid fa-thumbs-up"></i>
                    {% else %}
                    <button type="submit" class="btn btn-outline-dark btn-block" aria-label="Like this post">
                        <i class="fa-regular fa-thumbs-up"></i>
                    {% endif %}
                        {{ post.number_of_likes }}
                    </button>
                </form>
            {% else %}
                <span class="btn btn-outline-dark btn-block disabled" aria-disabled="true">
                    <i class="fa-regular fa-thumbs-up"></i>
                    {{ post.number_of_likes }}
                </span>
            {% endif %}
        </div>
        <div class="col-3 col-md-2 px-1 px-md-2 px-lg-4">
            {% if user.is_authenticated %}
                <a class="btn btn-outline-dark btn-block" href="#post-comment" aria-label="Post a comment">
            {% else %}
                <a class="btn btn-outline-dark btn-block" href="#comments" aria-label="View the post's comments">
            {% endif %}
                <i class="fa-regular fa-comment"></i>
                {{ post.number_of_comments }}
            </a>
        </div>
    </div>
    <br>
    <!-- Comment input when the user is logged in -->
    {% if user.is_authenticated %}
        <form method="POST" action="{% url 'send_comment' post.slug %}">
            {% csrf_token %}
            <label for="comment" class="mb-0 mb-sm-2">
                <h4 class="d-inline-block mb-0 mb-sm-2">Leave a Comment</h4>
            </label>
            <ul class="d-inline-block pl-4">
                <li>Commenting as <em>{{ user.username }}</em></li>
            </ul>
            <div class="form-group mb-1">
                <textarea class="form-control" name="content" id="post-comment" rows="3" required></textarea>
            </div>
            <input type="submit" class="btn btn-outline-dark" value="Comment"></input>
            <input type="reset" class="btn btn-outline-dark" value="Cancel"></input>
        </form>
    {% endif %}

    <!-- Comments section -->
    <br>
    <div id="comments">
        {% if comments %}
            <h3>Comments</h3>
            <hr>
            {% for comment in comments %}
                {% if comment.reply_to %}
                    <div id="reply-to-{{ comment.reply_to.id }}" data-timestamp="{{ comment.posted_on.timestamp }}"
                        class="comment reply ml-3 ml-sm-4 ml-lg-5 py-2">
                {% else %}
                    <div id="comment-{{ comment.id }}" class="comment">
                {% endif %}
                    <strong>{{ comment.posted_by }}</strong> -
                    <em">{{ comment.posted_on }}</em>
                    <p class="mb-1">{{ comment.content }}</p>
                    <div>
                        <!-- Like button for comments -->
                        <form method="POST" class="d-inline" action="{% url 'like_comment' comment.id %}">
                            {% csrf_token %}
                            {% if user in comment.likes.all %}
                            <button type="submit" class="btn btn-small btn-dark py-0">
                                <i class="fa-solid fa-thumbs-up"></i>
                            {% else %}
                            <button type="submit" class="btn btn-small btn-outline-dark py-0">
                                <i class="fa-regular fa-thumbs-up"></i>
                            {% endif %}
                                {{ comment.number_of_likes }}
                            </button>
                        </form>
                        <!-- /.like-comments -->

                        <!-- Reply button and dropdown -->
                        <button class="btn btn-small btn-outline-dark py-0" type="button" data-toggle="collapse"
                            data-target="#reply-toggle-{{ comment.id }}" aria-expanded="false" aria-controls="reply-toggle-{{ comment.id }}">
                            <i class="fa-regular fa-comment"></i>
                            Reply
                        </button>
                        <form method="POST" action="{% url 'send_comment' post.slug %}" class="collapse reply-collapse" id="reply-toggle-{{ comment.id }}">
                            {% csrf_token %}

                            <!-- Hidden input to tell the view which comment is being replied to -->
                            {% if comment.reply_to %}
                                <input type="hidden" name="reply" value="{{ comment.reply_to.id }}" aria-hidden="true">
                            {% else %}
                                <input type="hidden" name="reply" value="{{ comment.id }}" aria-hidden="true">
                            {% endif %}
                            <!-- /.hidden-input -->

                            <div class="form-group mb-1">
                                <textarea class="form-control" name="content" rows="3" required></textarea>
                            </div>
                            <input type="submit" class="btn btn-outline-dark" value="Reply"></input>
                            <input type="reset" class="btn btn-outline-dark" value="Cancel" data-toggle="collapse"
                                data-target="#reply-toggle-{{ comment.id }}" aria-expanded="false" aria-controls="reply-toggle-{{ comment.id }}"></input>
                        </form>
                        <!-- /.reply -->
                    </div>

                    <!-- Replies section -->
                    {% if comment.number_of_replies %}
                        <a href="#reply-section-{{ comment.id }}" class="reply-toggle d-inline-block mt-2" type="button"
                            data-toggle="collapse" aria-expanded="false" data-control="reply-section-{{ comment.id }}">
                            {% if comment.number_of_replies == 1 %}
                                View 1 Reply
                            {% else %}
                                View {{ comment.number_of_replies }} Replies
                            {% endif %}
                        </a>
                        <div id="reply-section-{{ comment.id }}" class="replies collapse"></div>
                    {% endif %}
                    <!-- /.replies -->
                </div>
                {% if not comment.reply_to %}
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}